@tailwind base;
@tailwind components;
@tailwind utilities;

/* App baseline */
html,
body,
#root {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

html.dark body {
  @apply bg-slate-950 text-slate-100;
}

